#boardGame {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: lightskyblue;
    width: 50%;
    margin: 50px auto;
}

.color {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .white {
      background-color: white;
  }

  .red {
      background-color: red;
  }

  .yellow {
      background-color: yellow;
  }